<div id="layout-sidebar" class="listbox<roundcube:exp expression=" !request:_action ? ' selected' : ''"/>"
	role="navigation" aria-labelledby="aria-label-settingstabs">
	<div class="header">
		<a class="button icon task-menu-button" href="#menu"><span class="inner">
				<roundcube:label name="menu" />
			</span></a>
		<span id="aria-label-settingstabs" class="header-title">
			<roundcube:label name="settings" />
		</span>
	</div>
	<div class="scroller">
		<ul id="settings-menu" class="listing iconized settings-default-icon<roundcube:exp expression=" !request:_action
			? ' selection-large-only' : ''"/>">
			<roundcube:object name="settingstabs" class="listitem" tagname="li" />
			<roundcube:container name="tabs" id="settings-menu" />
			<!-- <div
			id="taskmenu"
			class="menu toolbar"
			role="navigation"
			aria-labelledby="aria-label-tasknav"
		  > -->
			<li class="listitem dark-theme" id="settingsdarktheme">
				<roundcube:if condition="config:dark_mode_support" />
				<roundcube:add_label name="darkmode" />
				<roundcube:add_label name="lightmode" />
				<roundcube:button name="theme" label="darkmode" type="link" innerClass="inner" class="theme dark" />
				<roundcube:endif />
			</li>
			<li class="listitem abous-us" id="settingsaboutus">
				<roundcube:button name="about" label="about" type="link" class="about" innerClass="inner"
					onclick="UI.about_dialog(this)" />
			</li>

			<li class="listitem Account" id="settingsAccount">
				<a title="Account Setting" href="https://stackoverflow.com/questions/39679107/php-and-html-how-do-i-link-to-an-external-url" id="rcmbtn107"  tabindex="0" aria-disabled="false">myKloud Account Settings</a>
				
			</li>

			<li class="listitem  folders" id="setup_myKloud">
				<a title="set up myKloud" href="./?_task=settings&amp;_action=preferences" id="rcmbtn107"  tabindex="0" aria-disabled="false">How to setup myKloud on my device?</a>
				
			</li>

			<li class="listitem" id="Legal_myKloud">
				<a title="Legal" href="./?_task=settings&amp;_action=preferences" id="rcmbtn107"  tabindex="0" aria-disabled="false">Legal</a>
				
			</li>

			<li class="listitem" id="FAQs_myKloud">
				<a title="FAQs" href="./?_task=settings&amp;_action=preferences" id="rcmbtn107"  tabindex="0" aria-disabled="false">FAQs</a>
				
			</li>

			<li class="listitem" id="ContactUs_myKloud">
				<a title="ContactUs" href="./?_task=settings&amp;_action=preferences" id="rcmbtn107"  tabindex="0" aria-disabled="false">Contact Us</a>
				
			</li>


			<!-- </div> -->
		</ul>
	</div>
</div>